@media(min-width: 992px) {
	
	h1 {
		font-size: 3rem;
		line-height: 3.7rem;
	}

	p {
		font-size: 1.35rem;
		line-height: 2rem;
		font-weight: 300;
		letter-spacing: 0;
	}


	.top {
	
		.top_nav {
			padding: 2rem 2rem;


			.logo {
				width: 13%; 
			}

			.envelope_wrapper {
				width: 25%;
				display: flex;
				justify-content: flex-end;
				align-items: center;



				.envelope_text {
					color: $maincolor;
					font-size: .85rem;
					font-family: $rounded;
					line-height: 1rem;
					margin: 0 .7rem;
					display: inline;
					z-index:2;
				}
				

				.envelope {
					width: 18%;
					cursor: pointer;
					
					img {
						width: 100%;
					}
					
				}

			}



			

		}	

		.top_claim {
			margin-top: 6rem;
		}

		.top_button {
			button {
				margin: 0;
			}
		}

		.mockup_photo {
			transform: translateX(100vw);
			animation: slideIn 2s ease-in-out .5s 1 normal forwards;
			top: 30vh;
			background-size: 90% auto;
		}
	}

	.claim, .bodytext {
		text-align: left;
	}

	button {
		margin: 0;
	}

// hide mobile benefits 
	.benefits_mobile {
		display: none;
	}


//show desktop benefits 
	.benefits_desktop {
		display: block;

		.description {
			text-align: center;
		}

		.benefit_element_desktop {
			margin-top: 6rem;
		}
		
		.benefits_element_desktop_wrapper {
			align-items: center;
			
			.icon {

				img {
					width: 7rem;
					float: right; 
				}
			}

			.benefit_element_text {
				h1 {
					font-size: 2.5rem;
				}

				p {
					font-size: 1.25rem;
				}
			}
			
		}
	}

	.form {

		.desktop_form {
			margin-top: 40rem;
			margin-bottom: 5rem;
			display: block;


			.whitelabel {
				width: 38em;
				margin: 0 auto;
				box-shadow: 0px 0px 10px rgba(0,0,0, .1);
				background: white;
				top: -30rem;


				h1 {
					font-size: 2.5rem;
					color: $maincolor;
				}

				p {
					font-size: 1.25rem;
					color: $maincolor;
				}

				input {
					border-bottom: 2px solid $maincolor;
					color: $maincolor;
				}

				input::placeholder {
					color: $maincolor;
				}


				.formcheck {
					padding: 1rem;
					
					.form_validation_good {
						color: $maincolor;
						font-weight: 600;
					}
					
				}

				button {
					background: white;
					border: 2px solid $maincolor;
					color: $maincolor;
				}

				button:hover {
					background: $maincolor;
					color: white;
				}

			}
		}

		.footer {
			position: relative;
			top: -25rem;
			margin-bottom: -20rem;

			img {
				width: 50%;
			}
		}
	}



// end of media query
}


	
