@import 'keyframes';

$rounded: 'Varela Round', sans-serif;
$raleway: 'Raleway', sans-serif;
$maincolor: #3A94ED;

/*
    Typography settings
*/

html {
	font-size: 16px;
	font-smoothing: antialiased;
}

body {
	background: #FBFBFB;
}

.hidden {
	display: none;
}

h1 {
	font-size: 1.7rem;
	font-family: $rounded;
	font-weight: regular;
	line-height: 2rem;
	color: $maincolor;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	font-family: $raleway;
	font-size: 1rem;
	font-weight: 300;
	color: #191818;
	letter-spacing: -.03rem;
	text-rendering: optimizeLegibility;
}

span {
	font-weight: 400;
}


button {
		display: block;
		padding: .5rem 2rem;
		border-radius: 100px;
		cursor: pointer;
	}

input,button {
	transition: .2s ease-out;
}

button:focus, a:focus, input:focus {
	outline: 0;
}

.button-text {
	font-size: 1.2rem;
}

.additional_text {
	font-size: .8rem;
}

section {
	overflow: hidden;
}

.top {
	height: 100vh;
	margin-bottom: 1rem;
}


.top_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 0;

	.logo {
		width: 40%;

		img {
			width: 100%;
		}
	}

	.envelope_wrapper {
		width: 10%;

		.envelope_text {
			display: none;
		}

		img {
			width: 100%;
		}
	}

}

.claim {
	margin-top: 1rem;
}


.claim, .bodytext {
	text-align: center;
	z-index: 5;	
}

.top_button {

	a:hover {
		text-decoration: none;
	}

	button {
		display: block;
		margin: 0 auto;
		padding: .5rem 2rem;
		border-radius: 100px;
		border: 2px solid $maincolor;
		color: $maincolor;
		background: rgba(255,255,255,.8);
		cursor: pointer;
		transition: .2s ease-out;
	}

	button:hover {
		background: $maincolor;
		color: white;
		border: 2px solid white;
	}
}



.arrows {
	cursor: pointer;
	position: absolute; 
	bottom: 1rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 2rem;
}


.mockup_photo {
	z-index: -1;
	position: absolute; 
	top: 45%;
	height: 100vh;
	background: url('../assets/img/mockup.png') no-repeat;
	background-size: 150% auto;

}

.benefits_mobile {
	text-align: center;
	margin-bottom: -5rem;

	.description {
		text-align: center;
	}

	.benefit_element {
		margin-top: 3rem;

		img {
			margin-bottom: 1rem;
			width: 5rem;
		}
	}

}

.benefits_desktop {
	display: none;
}

.form {
	z-index: 1;
	height: auto;
	background: url('../assets/img/background_bottom.png') no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	transition: all .3s;
	
	.desktop_form {
			margin-top: 40rem;
			margin-bottom: -15rem;
			display: block;


			.whitelabel {
				width: 100vw;
				padding: 4.5rem 1rem;
				z-index: 1;
				border-radius: 10px;
				position: relative; 
				top: -20rem;

				h1 {
					font-size: 2.5rem;
					color: white;
					line-height: 3rem;
				}

				p {
					font-size: 1.25rem;
					color: white;
				}

				input {
					z-index: 5;
					padding: 1rem .5rem .7rem .5rem;
					background: none;
					border: none;
					border-bottom: 2px solid white;
					color: white;
					font-size: 1.4rem;
					text-align: center;
				}

				input::placeholder {
					text-align: center;
					font-family: $rounded;
					font-size: 1.4rem;
					color: white;
					transition: all .5s;
					position: relative;
					transition: .3s;
				}

				input:focus::placeholder {
					opacity: 0;
				}

				.formcheck {
					padding: 1rem;
					
					.form_validation_good {
						font-size: 1rem;
						color: white;
						font-weight: 600;
						margin: 0;
						line-height: 1rem;
					}
					
				}

				


				button {
					text-align: center;
					margin: .5rem auto 2rem auto;
					background: none;
					border: 2px solid white;
					color: white;
				}

				button:hover {
					background: $maincolor;
					color: white;
				}

				.promise {
					font-size: .9rem;
					line-height: 1.1rem;
				}
			}
		}

	.footer {
		margin-bottom: 2rem;

		img {
			width: 100%;
			margin-bottom: 1rem;
		} 

		a {
			display: block;
			text-decoration: none;
			font-family: $raleway;
			font-weight: 300;
			color: white;
			margin: 0 0;
			font-size: 1rem;
		}
	}
}

@import '500px';
@import '768px';
@import '992px';
@import '1450px';
@import '1700px';



